$maincolor-blue: #31aae2;
$maincolor-blush: #eb768c;
$maincolor-lavender: #c183d6;
$maincolor-carlo: #73c8b7;

$brand-bg-color: #000;

$backgroundcolor-dark: #2d2d2d;
$backgroundcolor-lighter: #373737;
$heading-color: #ffffff;
$backgroundcolor-light: #313131;
$paragraph-color: #969595;


